/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

.sbborder{
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 0px;
    padding: 12px 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    text-align: left;
}

img {
    width: 100%;
    height: auto;
}

.logo {
    width: 20%;
}

a{
    color: whitesmoke;
}

a:hover {
    color: rgb(203, 157, 97);
    }

.back {
    font-size: 30px;
    color: black;
}

.sbhead {
    font-family: 'Bitter', serif;
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-transform: uppercase;
    background-color: black;
    font-size: 40px;
}

.toprow {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 1px black;
}

.botrow {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 1px black;
}

.top {
    display: flex;
    gap: 20px;
}

.bot {
    display: flex;
    gap: 20px;
}

.textcols {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.tcol1{
    text-transform: uppercase;
    font-weight: 800;
}

.tcol2{
    text-transform: uppercase;
    font-weight: 800;
}